@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
    --Ash-red: #700505;
    --Ash-lightred: #D60B0B;
    --table-red: #950808;
}

body {
    margin: 0;
    font-family: 'Gabriela';
    font-weight: normal;
    height: 100vh;
}

p {
    margin: 0px;
}
/* Navigation Bar */
nav {
    background-color: var(--Ash-red);
    color: #FFFFFF;
    float: left;
    clear: right;
    height: 100vh;
    position: fixed;
}
ul {
    list-style-type: '- ';
    padding-left: 0;
}

.nav-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    list-style-type: none;
    padding: 0;
}

#active {
    background-color: var(--Ash-lightred);
}

.links {
    font-size: 18px;
    font-weight: 700;
    height: 75px;
    width: 280px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
}

.link {
    width: 100%;
    display: inherit;
    align-items: inherit;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
}

.links:hover {
    background-color: var(--Ash-lightred);
}

.nav-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

/* Main Section */
#main {
    margin-left: 340px;
    padding-right: 80px;
    padding-bottom: 25px;
}

.heading {
    margin: 0;
    padding-top: 20px;
}

/* Summary Section */
#summary {
    margin-block: 30px;
}

.main-sum {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.sum-item {
    padding-inline: 10px;
    width: 400px;
}

.sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 0px;
}

.sum-detail {
    margin-block: 0px;
    margin-right: 16px;
    margin-left: 8px;
}

.sub-sum {
    list-style-type: none;
}

.sub-sum-item {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}

.custom-popover {
    --bs-popover-max-width: 195px;
  }

#card-navs {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 0px;
    list-style-type: none;
}
#card-navs a {
    margin-right: 28px;
    margin-bottom: 24px;
    width: 22rem;
    text-decoration: none;
    color: white;
    background-color: #950808;
    transition: all ease-in-out 0.3s;
}
#card-navs a:hover {
    background-color: #D60B0B;
    color: white;
    border-radius: 24px;
    transform: scale(1.075);
}
#card-navs ul {
    list-style-type: none;
    padding-left: 16px;
}
.card {
    background-color: inherit;
    height: 8.25rem;
    width: 22rem;
}
.card-subtitle {
    color: black;
    font-weight: 500;
}
.card-icons {
    width: 36px;
    height: 36px;
    color: white;
}
.pagination li:hover{
    cursor: pointer;
}
.page-item {
    padding: 4px 8px 4px 8px;
    border: 0.5px solid black;
    transition: all ease-in-out 0.2s;
}
.page-item:hover {
    background-color: #D60B0B;
    color: white;
}
.active-page {
    background-color: #D60B0B;
    color: white;
}

/* Graphs */
.data-viz {
    display: grid;
    grid-template-columns: auto auto;
}
.bgraph {
    height: 375px;
    width: 500px;
    background-color: gainsboro;
}

/* Views */
.view-sec {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 24px;
}
.view {
    display: flex;
    justify-content: center;
    width: 75rem;
    overflow-x: auto;
}
.img-view {
    height: 175px;
    width: 175px;
    border-radius: 40%;
}
.img-frame {
    text-align: center;
    margin-inline: 16px;
}

@media screen and (max-width: 1024px) {
    /* Navigation bar */
    nav {
        height: 100%;
    }
    .links {
        font-size: 12px;
        font-weight: 700;
        height: 75px;
        width: 250px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all ease-in-out 0.25s;
    }
    
    .link {
        font-size: 14px;
        font-weight: normal;
    }
    
    .links:hover {
        background-color: var(--Ash-lightred);
    }
    
    .nav-logo {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    /* Navigation end */
    #main {
        margin-left: 300px;
        padding-right: 80px;
        padding-bottom: 25px;
    }

    .sub-sum-item {
        font-size: 14px
    }
    #card-navs a {
        width: 13.5rem;
    }
    .card {
        padding-inline: 10px;
        width: 13.5rem;
    }
    .card-title {
        font-size: 1.1rem;
    }
    .card-subtitle {
        font-size: 0.8rem;
    }
    .view-sec {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 50px;
        padding-bottom: 24px;
    }
    .card-icons {
        width: 28px;
        height: 28px;
        color: white;
    }
    .view {
        display: flex;
        justify-content:flex-start;
        width: 75rem;
        overflow-x: auto;
    }
    .img-view {
        height: 150px;
        width: 150px;
        border-radius: 40%;
    }
    .img-frame {
        text-align: center;
        margin-inline: 8px;
    }
}

@media screen and (max-width: 768px) {
    /* Navigation bar */
    nav {
        height: 100%;
    }
    .links {
        font-size: 12px;
        font-weight: 700;
        height: 75px;
        width: 220px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all ease-in-out 0.25s;
    }
    
    .link {
        font-size: 12px;
        font-weight: normal;
    }
    
    .links:hover {
        background-color: var(--Ash-lightred);
    }
    
    .nav-logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    /* Navigation end */
    #main {
        margin-left: 250px;
        padding-right: 80px;
        padding-bottom: 25px;
    }
    h5 {
        font-size: 16px;
    }
    .sub-sum-item {
        font-size: 12px
    }
    .card {
        padding-inline: 10px;
        width: 200px;
    }
    #card-navs a {
        width: 12rem;
    }
    .card {
        padding-inline: 10px;
        width: 12rem;
    }
    .card-title {
        font-size: 0.9rem;
    }
    .card-subtitle {
        font-size: 0.7rem;
    }
    .card-icons {
        width: 28px;
        height: 28px;
        color: white;
    }
    .view-sec {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 50px;
        padding-bottom: 24px;
    }
    .view {
        display: flex;
        justify-content:flex-start;
        width: 75rem;
        overflow-x: auto;
    }
    .img-view {
        height: 125px;
        width: 125px;
        border-radius: 40%;
    }
    .img-frame {
        text-align: center;
        margin-inline: 8px;
    }
}